window.advanced-settings-popups box.advanced-settings {
    all: unset;
    color: @white;
    background-color: @black;
    min-width: 40rem;
    min-height: 20rem;
    border-radius: 1.2rem;
    border: 0.1rem solid @white;
    margin: 1.2rem;
}

window.advanced-settings-popups box.advanced-settings .advanced-reboot {
    margin: 1rem;
    padding: .5rem;
    border-radius: 1.2rem;
    border: 0.1rem dashed @white;
    background-color: @blue;
}