window.notification-popups box.notifications {
    padding: .5em;
}


window.notification-popups .notification .icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em;
}

window.notification-popups .notification .icon image {
    font-size: 58px;
    /* to center the icon */
    margin: 5px;
    color: @red;
}

window.notification-popups .notification.critical .icon image {
    font-size: 58px;
    /* to center the icon */
    margin: 5px;
    color: @orange;
}

window.notification-popups .notification .icon box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 7px;
}

window.notification-popups .notification {
    min-width: 24rem;
    border-radius: 1.2rem;
    padding: 1em;
    margin: .5em;
    border: .1rem solid @blue;
    background-color: alpha(@black, 0.8);
}

window.notification-popups .notification.low {
    border: .1rem solid @white;
}

window.notification-popups .notification.normal {
    border: .3rem solid @blue;
}

window.notification-popups .notification.critical {
    border: .5rem solid @red;
}


window.notification-popups .title {
    color: @blue;
    font-size: 1.4em;
    font-weight: bold;
}

window.notification-popups .body {
    color: @white;
}


window.notification-popups .actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

window.notification-popups .actions .action-button:first-child {
    margin-left: 0;
}

window.notification-popups .actions .action-button:last-child {
    margin-right: 0;
}