@import "./themes/Bar.css";
@import "./themes/Launcher.css";
@import "./themes/Notification.css";
@import "./themes/AdvancedSettings.css";

@define-color white #fbecde;
@define-color red #cc163a;
@define-color orange #fba414;
@define-color green #57c3c2;
@define-color blue #c6e6e8;
@define-color black #24273a;
@define-color yellow #e2d849;
@define-color purple #61649f;

/* ---------------------------------
 *  圆形图标按钮
 * ---------------------------------
 */
.circle-button {
    all: unset;
    border-radius: 1.2rem;
    padding: 0.4rem;
    border: 0.1rem solid @white;
    color: @blue;
    background-color: @black;
}

.circle-button:hover {
    color: @black;
    background-color: @white;
    border: 0.1rem solid @yellow;
}


/* ---------------------------------
 *  图标和文字按钮
 * ---------------------------------
 */
.icon-button {
    all: unset;
    border-radius: 1.2rem;
    border: 0.1rem dashed @yellow;
    background-color: @red;
}

.icon-button image {
    /* padding: 0 .5rem; */
    padding-left: .5rem;
    color: @black;
}

.icon-button label {
    font-weight: bold;
    /* margin-top: .4rem; */
    margin-right: .5rem;
    /* font-family: 'Blacklisted'; */
    color: @black;
}

.icon-button:hover label {
    background-color: @yellow;
    transition: all 0.3s ease-in-out;
    border-radius: 1rem;
    padding: 0 1rem;
    box-shadow: .4rem 0 .1rem @green;
    font-weight: bold;
}