button.circle-button {
  all: unset;
}

button.circle-button box {
  border-radius: 1rem;
  border: 0.1rem solid #56b6c2;
  background-color: #282c34;
  padding: 0.5rem 0.5rem;
}

button.circle-button:hover box {
  background-color: #e5c078;
  border: 0.1rem solid #a9493d;
}

button.circle-button:hover box image {
  color: #544d40;
}

button.icon-button {
  all: unset;
}

button.icon-button box {
  border-radius: 1rem;
  border: 0.1rem solid #56b6c2;
  background-color: #282c34;
}

button.icon-button box image {
  border-radius: 1rem;
  border: 0.1rem solid #56b6c2;
  background-color: #d7d3cb;
  color: #544d40;
  padding: 0 0.5rem;
  margin: 0 0;
}

button.icon-button box label {
  color: #abb2bf;
  padding: 0 1rem 0 0.5rem;
}

window.topBar * {
  all: unset;
  font-size: 1rem;
  color: #abb2bf;
}

window.topBar .barContainer {
  min-height: 2rem;
  padding: 0 1.2rem;
}

window.topBar .logo {
  border-radius: 1.2rem;
  border: 0.1rem solid #a9493d;
  background-color: #d7d3cb;
  padding: 0 0.6rem;
}

window.topBar .logo label {
  margin-top: 0.25rem;
  color: #544d40;
}

window.topBar .logo image {
  padding-right: 0.5rem;
}

window.topBar .logo label {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Futura-Medium";
}

window.topBar .workspaces {
  border-radius: 1.2rem;
  border: 0.1rem solid #56b6c2;
  margin: 0 0.6rem;
  padding: 0 0.6rem;
  background-color: #282c34;
}

window.topBar .workspaces button {
  min-height: 1.5rem;
  min-width: 1.5rem;
  border-radius: 1.2rem;
  padding: 0 0.5rem;
  transition: all 0.3s ease-in-out;
}

window.topBar .workspaces button:hover {
  min-width: 3rem;
}

window.topBar .workspaces button:hover label {
  font-size: 1.4rem;
  color: #e5c078;
}

window.topBar .workspaces button.focused {
  background: #fbecde;
  min-width: 3rem;
}

window.topBar .workspaces button.focused label {
  font-size: 1rem;
}

window.topBar .workspaces button.focused:hover {
  min-width: 5rem;
}

window.topBar .clock {
  border-radius: 1.2rem;
  border: 0.1rem solid #56b6c2;
  margin: 0 0.6rem;
  padding: 0 0.6rem;
  background-color: #282c34;
}

window.topBar .clock label {
  color: #abb2bf;
  font-weight: bold;
}

window.topBar .tray {
  border-radius: 1.2rem;
  border: 0.1rem solid #56b6c2;
  margin: 0 0.6rem;
  padding: 0 0.6rem;
  color: #abb2bf;
  background-color: #282c34;
  min-width: 3rem;
}

window.topBar .tray button {
  margin: 0 0.6rem;
}

window.topBar .tray button:hover {
  border-radius: 1.2rem;
  border: 0.1rem solid #56b6c2;
  background-color: #e5c078;
  transition: all 0.3s ease-in-out;
  padding: 0 0.6rem;
}

window.topBar .tray button:hover image {
  color: #544d40;
}

window.topBar .indicator-group {
  all: unset;
  border-radius: 1rem;
  border: 0.1rem solid #56b6c2;
  background-color: #282c34;
}

window.topBar .indicator-group .indicator {
  all: unset;
  padding: 0 0.6rem;
  background-color: #282c34;
}

window.topBar .indicator-group .indicator:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

window.topBar .indicator-group .indicator:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

window.topBar .indicator-group .indicator:hover {
  background-color: #d7d3cb;
  border-radius: 1.2rem;
  min-width: 3rem;
  transition: all 0.3s ease-in-out;
}

window.topBar .indicator-group .indicator:hover image {
  color: #544d40;
}
