@import "/home/easternday/.config/hypr/styles/color.css";

window {
    font-family: CaskaydiaCove Nerd Font, monospace;
    font-size: 12pt;
    color: @white;
    background-color: @black;
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    border: none;
    color: @black;
    font-size: 32px;
    text-shadow: none;
    border-radius: 20px 20px 20px 20px;
    background-color: @blue;
    margin: 5px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: @orange;
}

#lock {
    background-image: image(url("/home/easternday/.config/hypr/icons/lock/lock.svg"));
    background-size: 70%;
}

/* #lock:focus {
    background-color: ;
} */

#logout {
    background-image: image(url("/home/easternday/.config/hypr/icons/lock/logout.svg"));
}

#shutdown {
    background-image: image(url("/home/easternday/.config/hypr/icons/lock/shutdown.svg"));
}

#reboot {
    background-image: image(url("/home/easternday/.config/hypr/icons/lock/reboot.svg"));
}