window.launcher {
  * {
    all: unset;
    font-size: 1rem;
    color: $font-color;
  }
  .launcherContainer {
    border-radius: 1.2rem;
    border: 0.1rem solid $border-color;
    background-color: $background-color;
    padding: 0 0.6rem;
    margin: 1rem;
    min-width: 30rem;
    entry.search {
      border-radius: 1.2rem;
      border: 0.1rem solid invert($border-color);
      background-color: invert($background-color);
      min-height: 3.5rem;
      margin: 1rem 0.5rem;
      padding: 0 1rem;
      color: invert($font-color);
      font-size: 2rem;
      label {
        margin: 0.5rem 0;
      }
    }
    .scroll {
      margin: 1rem 0.5rem;
      button {
        border-radius: 1.2rem;
        border: 0.1rem solid $border-color;
        background-color: $background-color;
        padding: 0.5rem 0;
        image {
          padding: 0 0.5rem;
        }
        label {
          font-size: 1.2rem;
        }
        &:selected {
          border-radius: 1.2rem;
          border: 0.1rem solid invert($border-color);
          background-color: invert($background-color);
          label {
            color: invert($font-color);
          }
        }
        &:hover {
          border-radius: 1.2rem;
          border: 0.1rem solid invert($border-color);
          background-color: invert($background-color);
          label {
            color: invert($font-color);
          }
        }
        &:focus {
          border-radius: 1.2rem;
          border: 0.1rem solid invert($border-color);
          background-color: invert($background-color);
          label {
            color: invert($font-color);
          }
        }
      }
    }
  }
}
