@import "/home/easternday/.config/hypr/styles/color.css";

window {
  margin: 0;
  /* border: 5px solid @red; */
  background-color: @black;
  border-radius: 1rem;
  opacity: 0.8;
}

#input {
  all: unset;
  min-height: 36px;
  color: @white;
  font-weight: bold;
  background-color: @black;
  border-radius: 15px;
  border: 2px solid @blue;
  margin: 1rem;
  padding: 0.3rem;
}

#inner-box,
#outer-box,
#scroll {
  margin: 1rem;
  padding: 0.3rem;
  border-radius: 15px;
}

#outer-box {
  border: 3px solid @white;
}

#text:selected,
#entry:selected {
  color: @black;
  border: none;
  background: linear-gradient(90deg, @white 0%, @blue 100%);
  font-weight: bold;
}

#entry {
  border: none;
  background-color: transparent;
}